@tailwind base;
@tailwind components;
@tailwind utilities;

.h-calc-full-minus-4rem {
  height: calc(100% - 4rem);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, cursive, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
